// -------------------
// placeholders
// -------------------
// 
// links, headlines , images, nav
// 


%link {
	color: $color-link-default;


	&:hover {
		color: lighten($color-link-default, 30%);
	}

	&:visited {
		color: $color-link-visited;
	}
}

%center-align {
	text-align: center;
}

// Center elements
.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%btn {
	border-radius: $br;
	border: none;
	color: $white;	
	padding: 0.75em;	
	text-transform: uppercase;	
}